body {
    width: 100%;
    background-color: #49494a;
    margin: auto;
}

#profile-container {
    max-width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 60px auto;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.5s;
    transition-timing-function: ease;
}

#profile-container:hover {
    box-shadow: none;
    position: relative;
    transform: translateX(7px) translateY(7px);
}

#profile-picture {
    width: 300px;
    height: auto;
    border-radius: 6px 6px 0px 0px;
}

#profile-name {
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
}